app = "club-mutant-pot-provider-rust"
primary_region = "iad"

[build]

[http_service]
  internal_port = 4416
  force_https = false
  auto_stop_machines = "off"
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
